*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body, html, main{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body{
    background-image: url(../images/main.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

main{
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    flex-grow: 2;
}

.selected{
    background-color: rgba(212, 207, 207, 0.5);
    color: black;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 50px;
}

.logo-text{
    display: flex;
    align-items: center;
    font-size: clamp(5px, 1vw, 12px);
}

.logo{
    height: 50px;
    padding-right: 10px;
}

nav{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    margin-left: 10px;
    padding: 15px 0;
    width: clamp(50px, 10vw, 100px);
    font-size: clamp(14px, 1vw, 23px);
    text-align: center;
}

nav a:hover{
    background-color: rgba(212, 207, 207, 0.5);
    color: black;
    transition: all 0.4s ease-out;
}

/* Main Section */

.main-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 2;
    padding: 60px 0;
}

.main-section h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.boxes{
    display: flex;
    height: 75%;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.box{
    height: calc(90% - 22px);
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box:hover{
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.box a{
    height: calc(100% - 22px);
    width: 90%;
}

.box h3{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
}

.box-image{
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about{
    background-image: url(../images/aboutme.jpeg)
}

.portofolio{
    background-image: url(../images/portofolio.jpeg);
}

.contact{
    background-image: url(../images/contact.jpeg)
}

/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-boxes{
    display: flex;
}

.social-box{
    margin-left: 10px;
}

.social-box a{
    padding: 10px;
    text-align: center;
    font-size: clamp(8px, 1vw, 16px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-box a:hover{
    background-color: rgba(212, 207, 207, 0.5);
    color: black;
    transition: all 0.4s ease-out;
}

.icon{
    width: clamp(20px, 2vw, 50px);
    height: clamp(20px, 2vw, 50px);
    margin-bottom: 10px;
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
}

.facebook-icon{
    background-image: url(../images/social-images/facebookicon-white.png);
}

.social-box a:hover .facebook-icon{
    background-image: url(../images/social-images/facebookicon.png);
    transition: all 0.4s ease-out;
}

.instagram-icon{
    background-image: url(../images/social-images/instagramicon-white.png);
}

.social-box a:hover .instagram-icon{
    background-image: url(../images/social-images/instagramicon.png);
    transition: all 0.4s ease-out;
}


/* About Me Main */

.about-me-section{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-side{
    width: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
}

.about-description img{
    width: 50%;
    float: left;
    margin: 0 10px 0 0;
}

.right-side p{
    margin-top: 7%;
    line-height: clamp(10px, 2vw, 35px);
    font-size: clamp(5px, 2vw, 18px);
}

.left-side{
    width: 55%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.map{
    width: 70%;
    height: 60%;
}

/* Google Maps */

#map {
    height: 100%;
    width: 100%;
  }

/* Contact */

.contact-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.contact-right-side{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    width: 50%;
}

.contact-right-side h1, .contact-right-side p{
    margin-bottom: 2%;
}

.label-input-wrapper{
    display: flex;
    flex-direction: column;
}

.copyrights{
    padding: 30px 0;
}

.bottom, .top{
    display: flex;
    flex-wrap: wrap;
}
.bottom{
    margin-top: 2%;
}

.email-span{
    text-decoration: underline;
}

.contact-text{
    font-size: 20px;
}

.label-input-wrapper{
    margin-right: 20px;
}

.label-input-wrapper input, .label-input-wrapper textarea{
    background-color: rgba(212, 207, 207, 0.5);
    border: 0;
}

.label-input-wrapper input{
    height: clamp(20px, 2vw, 50px);
}

.label-input-wrapper ::placeholder {
    color: black;
    opacity: 0.8;
    font-size: 15px;
    padding-left: 10px;
 }
 .bottom .label-input-wrapper{
    width: 48%;
 }

.label-input-wrapper textarea{
    width: 100%;
    margin: 0;
}

.submit-button-wrapper{
    display: flex;
    align-items: flex-end;
}
.submit-button-wrapper button{
    width: 160.2px;
    height: 18%;
    border: none;
    background-color: rgba(212, 207, 207, 0.5);
    color: black;
    font-size: 17px;
    margin-bottom: 3px;
}


.contact-left-side{
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2%;
    font-size: 20px;
}

.contact-left-side div{
    display: flex;
    align-items: center;
    padding: 2% 0;
}

.contact-left-side h3{
    margin-bottom: 4%;
}

.contact-left-side div a:hover{
    text-decoration: underline;
}

.contact-left-side .icon{
    width: clamp(10px, 2vw, 30px);
    height: clamp(10px, 2vw, 30px);
    padding: 0;
    margin-bottom: 0;
    margin-right: 5px;
}

.contact-left-side div a{
    margin-left: 5px;  
}